.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* my CSS */

.content-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px;
  min-width: 250px;
  width: auto;
}

.drag-context {
  background-color: #3c424d;
  margin: 0;
}

.color-container {
  margin: 1px 0;
  background-color: #282c34;
}
.color-container p {
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.input-validatin-container {
  height: auto;
}

.btn-color {
  width: 100%;
  border: solid 3px;
  background-color: #282c34;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}

input {
  width: 93%;
  height: 30px;
  padding: 5px;
  background-color: #3c424d;
  color: #eee;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
  margin: 15px 0;
}

.input:hover {
  border: 1px solid #aaa;
}

.errorMsg {
  font-size: 12px;
  color: red;
  background-color: #282c34;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
